09.Agentes de IA/ClienteAtendimento.json
{
  "name": "ClienteAtendimento",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Como posso ajudar?",
        "availableInChat": true,
        "agentName": "Assitente",
        "agentDescription": "Agente de Atedimento",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "3df8548e-79a9-4bdc-9a89-954d7a8f00e6",
      "name": "When chat message received",
      "webhookId": "8d344c81-609c-429e-87e1-2fc992acfd75"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente de atendimento ao cliente.\nQuando precisar consultar dados, use a tool MCP Client.\nPara infomações sobre horários de atendimento, chame a tool horarios.\nPara informações sobre formas de pagamento, chame a tool formaspagamento.\nNão invente dados. Se não souber a resposta, retorne \"não tenho esta informação\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "2e47f7b1-7feb-4566-8289-cd05ec33506e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        176
      ],
      "id": "106be255-ecec-4908-bad1-2ffeab941443",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PdhkaFCOU70rAKg9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        256
      ],
      "id": "4b5c71d0-26f2-4c19-bca1-fb9d256b23a4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://evoluth.app.n8n.cloud/mcp/servidoratendimento",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        384,
        176
      ],
      "id": "ceb52308-de79-4846-9793-de69443c8c5d",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "message": "={{ $json.output  }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "7c83a4bd-9757-4869-8025-26cfb9332d3c",
      "name": "Chat",
      "webhookId": "55db5093-4788-461b-90d5-d98d871bb409"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "421c6d33-3381-484f-a2cb-a37d6d934ea4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93d8f97e6a5360cb307cbf2c230ea540e063223ca47a568194c42e9ead8425b4"
  },
  "id": "I8qmZkcztO0N_QdQ-VkS6",
  "tags": []
}